[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
selenium = "*"
chromedriver-binary = "==91.*"
mutagen = "*"
tksugar = "*"
tkcalendar = "*"

[dev-packages]

[requires]
python_version = "3.9"
