body {
  width: 750px;
  height: 820px;
  margin: 0;
  background-color: #FFEEDF;
  font-family: "けいふぉんと";
  background-image: url("background.png");
  background-size: 240px;
}
article {
  display: block;
  padding: 40px 50px;
  border: 0 dashed white;
  box-sizing: border-box;
}
article > div {
  height: 100%;
  display: flex;
  align-items: center;
}
#daytitle,
#credit {
  height: calc(820px / 3.5);
}
#daytitle {
  background-color: #DFF0FF;
  padding-top: 100px;
  border-bottom-width: 8px;
}
#daytitle > div.left {
  float: left;
  width: 16ex;
  margin-right: 10px;
}
#daytitle > div > div.text {
  flex: 1;
}
#daytitle > div > div.text > span {
  display: block;
}
#daytitle > div > div.text > span#day {
  font-size: 2.5ex;
  font-family: "Bauhaus 93";
}
#daytitle > div > div.text > span#week {
  font-size: 5ex;
}
#daytitle > div > div.text > span#theme {
  font-size: 7.5ex;
}
#maintitle {
  height: calc(820px - 820px / 3.5 * 2);
  border-width: 8px 0;
}
#maintitle #title {
  font-size: 8ex;
}
#credit {
  background-color: #F0FFDF;
  padding-bottom: 100px;
  border-top-width: 8px;
}
#credit #chname {
  font-size: 6ex;
}
#credit #chdest {
  display: block;
  font-size: 2.2ex;
}
